  <div>
    <% if !@user %>
      <div id="login_menu" class="bd-sm ht-log bk-b t-h ps-r" >
        <form  class="pt-m pl-r">
            <input type="email" name="email" placeholder="alex@alex.alex" value="blah@blah.com" class="input">
            <input type="password" placeholder="password" class="input">
            <input type="submit" class="input">

        </form>
          <div id="show_signup_form_button" class="c-lb mgr-s">Not a member?</div>
          <div id="hide_button" class="mgl-r mt-s">login</div>
      </div>

      <div id="signup_menu" class="bd-sm ht-sig bk-g dsp-n ps-a">
        <div>

        <%= form_for @user, :html => {:class=>"pt-m pl-r", :id=>"signin_form"}, method: :post, remote: true do |f| %>
          <%= f.text_field :email, :placeholder => "alex@alex.alex" %>
          <%= f.text_field :first_name, :placeholder => "firstname buddy!" %>
          <%= f.text_field :last_name, :placeholder => "lastname, champ" %>
          <%= f.password_field :password, :placeholder => "password, shhh" %>
          <%= f.submit %>
          <% end %>
        </div>
      </div>
    <% else %>
      <div id="login_menu" class="bd-sm ht-log bk-b t-h ps-r" >
      </div>
    <% end %>
  </div>
