<div id="trending">
      <h1 class="c-g ff-g p-in dsp-n">HEY YOU ARE SO COOL CHECKOUT THESE SPIFFY TRENDING ROOMS SCROLL DOWN DO IT YOU COOL KID.</h1>
      <div id="trending_carousel_div" class="dsp-n">
        <h1 class="c-db">TRENDING PUBLIC ROOMS</h1>

        <div id="trending_carousel" class="owl-carousel owl-theme">
          <% @user = User.find_by(id: session[:user_id]) %>
          <% @rooms.each do |room| %>
          <div class="item" id="<%= room.id %>">
            <h4><%= room.name %></h4><br>
            <h5><%= room.description %></h5>
            <%= form_tag("/users/#{@user.id}/rooms/#{room.id}/join", method: :post, remote: true) do %>
              <div class="join" id="<%= room.id %>"><%= submit_tag 'join room' %></div>
            <% end %>
          </div>
          <% end %>
        </div>

        <div class="customNavigation">
          <a class="btn prev">Previous</a>
          <a class="btn next">Next</a>
          <a class="btn play">Autoplay</a>
          <a class="btn stop">Stop</a>
        </div>

      </div>
    </div>
