$('#sessionuserid').attr('sessionid', <%= @user_id %>);

$("#sc_song_list").empty();
$("#song_search_input").val("")



<% @streamable_songs.each do |track| %>
  $("#sc_song_list").append('<li> <button class="track_title" id="<%=track.id%>" data-type="sc" data-track-link="<%= track.stream_url %>" data-track-title="<%= track.title %>" data-track-duration="<%= track.duration %> class="song_list"> <%= track.title %> </button> </li>')
<% end %>

$("#query_song_list").hide().slideDown(600)

