<div id="new_room_form_div" class="bd-m wdt-l br-s dsp-n">
  <%= form_for :room, :html => {:method => :post}, :url => rooms_path do |f| %>
      <%= f.text_field :name, :class => "bd-s", :id => "text_field", :placeholder => "give you room a name" %>
      <%= f.text_area :description, :class => "bd-s", :id => "text_area", :placeholder => "what's your room all about?" %>
      <%= f.radio_button :publicness, true %>
      <%= f.radio_button :publicness, false %>
      <%= f.submit %>
      <% end %>

  <div id="hide_new_room_form_button" >Nevermind</div>
</div>
