<div class="item" id="<%= @id %>">
          <h4><%= @name %></h4>
          <br>
          <h5><%= @description %></h5>
          <%= form_tag("/users/#{@user.id}/rooms/#{@id}", method: :delete, remote: true) do %>
            <div class="delete"><%= submit_tag 'Delete' %>
            </div>
          <% end %>
</div>
