<div id="body" class="p-n mg-n ht-l bd-sm">
  <%= render "homepage/top_bar" %>

  <div id="home_body" class="ht-m bd-r">
    <%= render "main_div" %>
    <%= render "user_profile" %>
    <%= render :partial => "rooms/room" %>

    <% if @user %>
      <%= render 'users/side_bar' %>
    <% end %>
  </div>

  <div id="home_trending_section" class="bd-sm bk-b ht-b">
    <%= render :partial => 'homepage/trending_carousel' %>
  </div>
</div>
