git g<div id="body" class="p-n mg-n ht-l bd-sm">
  <%= render "homepage/top_bar" %>

  <div id="body_main">
    <div id="home_body" >
      <%= render "main_div" %>
      <%= render 'rooms/new_room_form' %>
      <% if @user %>
        <%= render "user_profile" %>
        <%= render :partial => "rooms/room" %>
        <div class='user_profile' style="display:none;">
          <%= render 'users/user_profile' %>
        </div>
      <% end %>
    </div>
  </div>

  <div id="home_trending_section" class="bk-b ht-b hoverUp">
    <% if @user %>
      <%= render 'users/side_bar' %>
    <%= render :partial => 'homepage/trending_carousel' %>
    <% end %>
  </div>
</div>
