<div id="body" class="p-n mg-n ht-l bd-sm">

  <div id="login_menu" class="bd-sm ht-log bk-b t-h ps-r" >
    <form  class="pt-m pl-r">
        <input type="email" name="email" placeholder="alex@alex.alex" value="blah@blah.com" class="input">
        <input type="password" placeholder="password" class="input">
        <input type="submit" class="input">

    </form>
      <div id="show_signup_form_button" class="c-lb mgr-s">Not a member?</div>
      <div id="hide_button" class="mgl-r mt-s">login</div>
  </div>

  <div id="signup_menu" class="bd-sm ht-sig bk-g dsp-n ps-a">
    <div>

    <%= form_for @user, :html => {:class=>"pt-m pl-r", :id=>"signin_form"}, method: :post, remote: true do |f| %>
      <%= f.text_field :email, :placeholder => "alex@alex.alex" %>
      <%= f.text_field :first_name, :placeholder => "firstname buddy!" %>
      <%= f.text_field :last_name, :placeholder => "lastname, champ" %>
      <%= f.password_field :password, :placeholder => "password, shhh" %>
      <%= f.submit %>
      <% end %>

      <!-- <form class="pt-m pl-r">
        <input type="email" name="email" placeholder="alex@alex.alex" value="blah@blah.com" class="input">
        <input type="string" placeholder="firstname" class="input">
        <input type="string" placeholder="lastname" class="input">
        <input type="password" placeholder="password" class="input">
        <input type="submit" class="input">
      </form> -->
    </div>
  </div>

  <div id="home_body" class="ht-m bd-r">




    <div class="pl-c pt-i icon">
      <h1 class="blk fc">Cloud DJ</h1>
      <p> This is an awesome description of the project.</p>
      <p> So cool.</p>
    </div>
  </div>

  <div id="home_trending_section" class="bd-sm bk-b ht-b">
    <div id="trending">
      <h1 class="c-g ff-g p-in">HEY YOU ARE SO COOL CHECKOUT THESE SPIFFY TRENDING ROOMS SCROLL DOWN DO IT YOU COOL KID.</h1>
      <div id="trending_carousel">
        <h1 class="c-db">NOTHING HERE OH NO</h1>
      </div>
    </div>

  </div>





</div>

